.Step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto; }
  .Step-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .Step-number-circle {
      box-sizing: border-box;
      width: 34px;
      height: 34px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .7s ease; }
      .Step-number-circle.done {
        border: 1px solid #6680ff;
        width: 40px;
        height: 40px; }
      .Step-number-circle-inner {
        background-color: #d1d1d6;
        width: 34px;
        height: 34px;
        border-radius: 17px;
        line-height: 34px;
        color: white;
        transition: all .7s ease;
        text-align: center; }
        .Step-number-circle-inner.done {
          background-color: #6680ff; }
    .Step-number-separator {
      width: 1px;
      height: 20px;
      background-color: #d1d1d6;
      transition: all .7s ease; }
      .Step-number-separator.done {
        background-color: #6680ff;
        height: 17px; }
  .Step-container {
    flex: 1;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 640px) {
      .Step-container {
        flex-direction: row; } }
    .Step-container-content {
      flex: 1;
      padding: 0 20px;
      order: 2;
      max-width: calc(100vw - 100px); }
      @media screen and (min-width: 640px) {
        .Step-container-content {
          order: 1;
          display: flex;
          flex-direction: column;
          justify-content: center; } }
      .Step-container-content h1 {
        font-size: 16px;
        text-align: center;
        margin: 20px 0 20px 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media screen and (min-width: 640px) {
          .Step-container-content h1 {
            font-size: 24px;
            text-align: left;
            max-width: 400px;
            margin: 0 auto 20px auto;
            justify-content: flex-start; } }
        @media screen and (min-width: 992px) {
          .Step-container-content h1 {
            font-size: 36px; } }
      .Step-container-content-buttons {
        display: flex;
        flex-direction: column;
        align-items: center; }
        @media screen and (min-width: 640px) {
          .Step-container-content-buttons {
            justify-content: center;
            flex-direction: row; } }
    .Step-container-image {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media screen and (min-width: 640px) {
        .Step-container-image {
          order: 2; } }
      .Step-container-image img {
        max-width: 100px;
        border-radius: 50%; }
        @media screen and (min-width: 640px) {
          .Step-container-image img {
            max-width: 225px; } }
  .Step-button {
    flex: 0.95;
    padding: 10px;
    border-radius: 3px;
    background: #22c5d4;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .Step-button {
        margin-right: 5px; } }
    .Step-button:hover, .Step-button:focus {
      background: #148791; }
    .Step-button.no {
      background: #efeff4;
      color: #8e8e93; }
      @media screen and (min-width: 640px) {
        .Step-button.no {
          margin-left: 5px;
          margin-right: 0; } }
      .Step-button.no:hover, .Step-button.no:focus {
        background: #b9b9c0; }
      .Step-button.no img {
        margin-right: 5px;
        width: 20px;
        height: 20px; }
    .Step-button.goBack {
      background: #efeff4;
      color: #fd7373; }
      @media screen and (min-width: 640px) {
        .Step-button.goBack {
          margin-left: 10px;
          margin-right: 0; } }
      .Step-button.goBack:hover, .Step-button.goBack:focus {
        background: #b9b9c0; }
