$main: #d1d1d6;
$done: #6680ff;
$circle: 40px;
$circleRadius: $circle / 2;
$circlePadding: 6px;
$circleInner: $circle - $circlePadding;
$circleInnerRadius: $circleInner / 2;

$buttonYes: #22c5d4;
$buttonYesFocus: #148791;

$buttonNo: #efeff4;
$buttonNoFocus: #b9b9c0;
$buttonNoColor: #8e8e93;

$md: "min-width: 640px";
$lg: "min-width: 992px";
$maxWidth: 1160px;


.Step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  max-width: $maxWidth;
  box-sizing: border-box;
  margin: 0 auto;
  &-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-circle {
      box-sizing: border-box;
      width: $circleInner;
      height: $circleInner;
      border-radius: $circleRadius;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .7s ease;
      &.done {
        border: 1px solid $done;
        width: $circle;
        height: $circle;
      }

      &-inner {
        background-color: $main;
        width: $circleInner;
        height: $circleInner;
        border-radius: $circleInnerRadius;
        line-height: $circleInner;
        color: white;
        transition: all .7s ease;
        text-align: center;
        &.done {
          background-color: $done;
        }
      }
    }
    &-separator {
      width: 1px;
      height: 20px;
      background-color: $main;
      transition: all .7s ease;
      &.done {
        background-color: $done;
        height: 17px;
      }
    }
  }
  &-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media screen and ($md) {
      flex-direction: row;
    }
    &-content {
      flex: 1;
      padding: 0 20px;
      order: 2;
      max-width: calc(100vw - 100px);
      @media screen and ($md) {
        order: 1;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
      }

      h1 {
        font-size: 16px;
        text-align: center;
        margin: 20px 0 20px 0;
        padding: 0;
        // min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and ($md) {
          font-size: 24px;
          text-align: left;
          max-width: 400px;
          margin: 0 auto 20px auto;
          justify-content: flex-start;
        }
        @media screen and ($lg) {
          font-size: 36px;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and ($md) {
          justify-content: center;
          flex-direction: row;
        }
      }
    }
    &-image {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and ($md) {
        order: 2;
      }
      img {
        max-width: 100px;
        border-radius: 50%;
        @media screen and ($md) {
          max-width: 225px;
        }
      }
    }
  }
  &-button {
    flex: 0.95;
    padding: 10px;
    border-radius: 3px;
    background: $buttonYes;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    @media screen and ($md) {
      margin-right: 5px;
    }
    &:hover, &:focus {
      background: $buttonYesFocus;
    }
    &.no {
      background: $buttonNo;
      color: $buttonNoColor;
      @media screen and ($md) {
        margin-left: 5px;
        margin-right: 0;
      }
      &:hover, &:focus {
        background: $buttonNoFocus;
      }
      img{
        margin-right: 5px;
        width:20px;
        height:20px;
      }
    }

    &.goBack {
      background: $buttonNo;
      color: rgb(253, 115, 115);
      @media screen and ($md) {
        margin-left: 10px;
        margin-right: 0;
      }
      &:hover, &:focus {
        background: $buttonNoFocus;
      }
    }
  }
}
