@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900");
.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.withFooter {
  margin-top: 100px; }
  @media screen and (min-width: 700px) {
    .withFooter {
      margin-top: 150px; } }

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.Diet {
  /*background: $lightGreyBg;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .Diet__profilePic {
    width: 95px;
    height: 95px;
    border-radius: 47.5px;
    overflow: hidden;
    margin: 0 0 20px 0; }
  .Diet__intro {
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
    color: #8e8e93;
    letter-spacing: 3px;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .Diet__intro {
        font-size: 24px; } }
  .Diet__heading {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .Diet__heading {
        font-size: 100px;
        margin-bottom: 0; } }
  .Diet__progress {
    background: #9b66ff;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 0 40px 0; }
    .Diet__progress--heading, .Diet__progress--percentage {
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px; }
    .Diet__progress--percentage {
      margin-bottom: 10px; }
    .Diet__progress--bar {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      overflow: hidden; }
      .Diet__progress--bar-percentage {
        height: 6px;
        border-radius: 3px;
        width: 60%; }
        .Diet__progress--bar-percentage-animation {
          height: 6px;
          width: 0%;
          border-radius: 3px;
          background: white;
          animation-name: barAnimation;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
  .Diet__boxes {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 640px) {
      .Diet__boxes {
        flex-direction: row;
        height: 200px;
        width: 430px;
        align-items: center;
        justify-content: space-between; } }
    .Diet__boxes--single {
      padding: 20px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none; }
      .Diet__boxes--single img {
        margin-bottom: 20px; }
      .Diet__boxes--single span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px; }
      .Diet__boxes--single.red {
        background: #fd7373;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.red {
            margin: 0 10px 0 0; } }
        .Diet__boxes--single.red:hover, .Diet__boxes--single.red:focus {
          background: #db4f4f; }
      .Diet__boxes--single.blue {
        background: #6680ff;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.blue {
            margin: 0 10px; } }
        .Diet__boxes--single.blue:hover, .Diet__boxes--single.blue:focus {
          background: #536acb; }
      .Diet__boxes--single.turquoise {
        background: #22c5d4; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.turquoise {
            margin: 0 0 0 10px; } }
        .Diet__boxes--single.turquoise:hover, .Diet__boxes--single.turquoise:focus {
          background: #1f8c96; }
      .Diet__boxes--single.locked {
        background-image: -moz-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        background-image: -ms-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        opacity: 0.602; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.locked {
            margin: 0 0 0 10px; } }

@keyframes barAnimation {
  from {
    width: 0%; }
  to {
    width: 100%; } }

.DietTriggers {
  background: white;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .DietTriggers__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }

.TriggerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .TriggerRow__content {
    max-width: 400px;
    width: 100%; }
    .TriggerRow__content h4 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 400; }
    .TriggerRow__content span {
      display: block;
      color: #8e8e93;
      font-weight: 300;
      font-size: 20px; }

.cursor {
  text-decoration: none; }
  .cursor:hover, .cursor:focus {
    cursor: pointer; }

.Breadcrumbs {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    .Breadcrumbs {
      margin: 20px auto 0; } }
  .Breadcrumbs__container {
    background: #f0f0f1;
    width: max-content;
    max-width: 400px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.75px;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    text-align: center; }
  .Breadcrumbs__acc {
    display: block;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: black; }
  .Breadcrumbs__thisPage {
    margin: 0 5px;
    font-weight: 300;
    color: #8e8e93; }

.SidebarLinkBox {
  background: #F9F9FE;
  margin: 0 0 10px 0;
  padding: 30px 20px;
  border-radius: 5px; }
  .SidebarLinkBox h3 {
    margin: 0 0 30px 0;
    font-weight: 600; }
  .SidebarLinkBox ul li {
    display: block;
    margin-bottom: 30px; }
    .SidebarLinkBox ul li:last-child {
      margin-bottom: 0; }
  .SidebarLinkBox__link {
    font-weight: 300;
    font-size: 18px; }
    .SidebarLinkBox__link .grey {
      color: #8e8e93;
      transition: all .3s ease; }
      .SidebarLinkBox__link .grey:hover, .SidebarLinkBox__link .grey:focus {
        color: #444; }
    .SidebarLinkBox__link .blue {
      color: #6680ff;
      transition: all .3s ease; }
      .SidebarLinkBox__link .blue:hover, .SidebarLinkBox__link .blue:focus {
        color: #536acb; }

.DashboardGrid {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .DashboardGrid__left {
    flex: 6.5; }
  .DashboardGrid__right {
    flex: 3.5; }
  .DashboardGrid__heading {
    font-size: 60px;
    margin: 0;
    text-align: center; }
  .DashboardGrid__subheading {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 50px 0;
    text-align: center; }
  .DashboardGrid__subheadingText {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 50px 0;
    text-align: center; }

.SymptomSlider {
  background: #F9F9FE;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 10px auto !important;
  border-radius: 5px;
  font-family: "Source Sans Pro";
  padding: 20px 20px; }
  @media screen and (min-width: 640px) {
    .SymptomSlider {
      padding: 30px 50px; } }
  .SymptomSlider.blue {
    background: #6680ff;
    color: white; }
    .SymptomSlider.blue .SliderNotch__notch {
      background: #536acb; }
    .SymptomSlider.blue .SliderBar {
      background: #536acb; }
      .SymptomSlider.blue .SliderBar__fill {
        background: #314597; }
    .SymptomSlider.blue .SymptomSlider__container--legend {
      color: white; }
  .SymptomSlider.red {
    background: #fd7373;
    color: white; }
    .SymptomSlider.red .SliderNotch__notch {
      background: #ec5d5d; }
    .SymptomSlider.red .SliderBar {
      background: #ec5d5d; }
      .SymptomSlider.red .SliderBar__fill {
        background: #ff1818; }
    .SymptomSlider.red .SymptomSlider__container--legend {
      color: white; }
  .SymptomSlider h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center; }
  .SymptomSlider__container {
    width: 100%;
    max-width: 500px; }
    .SymptomSlider__container--slider-notches {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 500px;
      margin: 20px 0; }
    .SymptomSlider__container--legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #8e8e93;
      font-weight: 300;
      font-size: 14px; }

.SliderNotch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20px;
  min-width: 20px; }
  @media screen and (min-width: 640px) {
    .SliderNotch {
      min-width: 50px;
      max-width: 50px; } }
  @media screen and (min-width: 640px) {
    .SliderNotch.small {
      min-width: 30px;
      max-width: 30px; } }
  .SliderNotch__notch {
    height: 20px;
    width: 2px;
    background: #c7c7cc;
    display: block; }

.SliderBar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E0E0E6;
  position: relative; }
  .SliderBar__fill {
    background: #6680ff;
    height: 100%;
    border-radius: 2px;
    transition: all .3s ease; }
  .SliderBar__handle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    cursor: grab; }
    .SliderBar__handle:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
    .SliderBar__handle:active {
      cursor: grabbing; }

.Symptoms {
  padding: 20px;
  box-sizing: border-box; }
  .Symptoms__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
  .Symptoms__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    border: none;
    font-weight: 300;
    border-radius: 8px;
    background-color: #6680ff;
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; }
    .Symptoms__button:hover, .Symptoms__button:focus {
      background: #90a4f9;
      cursor: pointer; }

.OtherSymptoms {
  background: #F9F9FE;
  padding: 30px 50px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Source Sans Pro"; }
  .OtherSymptoms h2 {
    font-weight: 400;
    font-size: 22px;
    text-align: center; }
  .OtherSymptoms__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; }
    .OtherSymptoms__row--checkbox {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border: 1.5px solid #8e8e93; }
    .OtherSymptoms__row--label {
      width: 70px;
      color: #8e8e93;
      font-weight: 300; }

.footerSpacer {
  padding-bottom: 75px; }
