@import './Variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.AccountSecurity{
  background: $lightGreyBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;

  &__Success{
    height: 30px;
    background-color: rgb(102, 128, 255);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--text{
      margin-right: 5px;
    }
    &--button{
      background-color: rgb(102, 128, 255);
      border:0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
    }
  }

  &__Failure{
    height: 30px;
    background-color: rgb(253, 115, 115);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--text{
      margin-right: 5px;
    }
    &--button{
      background-color: rgb(253, 115, 115);
      border:0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
    }
  }
  
  &__title {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }

  &__heading {
    font-size: 45px;
    margin: 30px 0 15px 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 60px;
    }
  }

  &__input{
    display: flex;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f1;
    width: 300px;
    height:60px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #313133;
    line-height: 1.2;
    text-align: center;
  }

  &__subtitle{
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 0 0;
  }

  &__text{
    display: flex;
    max-width: 300px;
    font-size: 18px;
    color: rgb(142, 142, 147);
    text-align: center;
    margin-bottom: 20px;
  }

  &__button{
    -webkit-appearance: none ;
    -moz-appearance: none;
    appearance:none;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    border: none;
    font-weight: 300;
    border-radius: 8px;
    background-color: rgb(34, 197, 212);
    width: 200px;
    height:60px;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    &:hover, &:focus {
      background: $mainTurquoiseHover;
    }
  }
}
