@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900");
.AddMealBox {
  background: #6680ff;
  padding: 30px 50px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro"; }
  .AddMealBox h2 {
    font-weight: 400;
    font-size: 20px; }
  .AddMealBox__input {
    padding: 10px;
    border: 0;
    border-radius: 4px;
    transition: all .3s ease;
    background: #90a4f9;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    width: 70%; }
    .AddMealBox__input:hover, .AddMealBox__input:focus {
      background: white;
      color: black;
      outline: 0; }
    .AddMealBox__input::placeholder {
      color: white;
      font-size: 14px;
      text-align: center; }
  .AddMealBox__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Source Sans Pro";
    background: #536acb;
    color: white;
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px; }
    .AddMealBox__button:hover, .AddMealBox__button:focus {
      cursor: pointer; }
