.cursor {
  text-decoration: none; }
  .cursor:hover, .cursor:focus {
    cursor: pointer; }

.BreadcrumbsSettings {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    .BreadcrumbsSettings {
      margin: 20px auto 0; } }
  .BreadcrumbsSettings__container {
    background: #fafafa;
    width: 100%;
    max-width: 600px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0 !important;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    text-align: center !important; }
  .BreadcrumbsSettings__acc {
    letter-spacing: 0 !important;
    display: block !important;
    margin: 0 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    color: black !important; }
  .BreadcrumbsSettings__thisPage {
    letter-spacing: 0 !important;
    font-size: 16px !important;
    margin: 0 5px !important;
    font-weight: 300 !important;
    color: #8e8e93 !important; }
