.cursor {
  text-decoration: none; }
  .cursor:hover, .cursor:focus {
    cursor: pointer; }

.BreadcrumbsSettings {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    .BreadcrumbsSettings {
      margin: 20px auto 0; } }
  .BreadcrumbsSettings__container {
    background: #f0f0f1;
    width: 100%;
    max-width: 400px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.75px;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    text-align: center; }
  .BreadcrumbsSettings__acc {
    display: block;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: black; }
  .BreadcrumbsSettings__thisPage {
    margin: 0 5px;
    font-weight: 300;
    color: #8e8e93; }
