@import './Variables.scss';
.cursor{
  text-decoration: none;
  &:hover, &:focus {
    cursor: pointer;
  }
}
.BreadcrumbsSettings {
  max-width: $mainWidth;
  width: 100%;
  margin: 0 auto;
  @media screen and ( $md ) {
    margin: 20px auto 0;
  }
  &__container {
    background: #fafafa;
    width: 100%;
    max-width: 600px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0 !important;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    text-align: center !important;

  }
  &__acc{
    letter-spacing: 0 !important;
    display: block !important;
    margin: 0 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    color:black !important;

  }
  &__thisPage{
    letter-spacing: 0 !important;
    font-size: 16px !important;
    margin:0 5px !important;
    font-weight: 300 !important;
    color: rgb(142, 142, 147) !important;
  }
}
