@import './Variables.scss';
.cursor{
  text-decoration: none;
  &:hover, &:focus {
    cursor: pointer;
  }
}
.Breadcrumbs {
  max-width: $mainWidth;
  width: 100%;
  margin: 0 auto;
  @media screen and ( $md ) {
    margin: 20px auto 0;
  }
  &__container {
    background: #f0f0f1;
    width: max-content;
    max-width: 400px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.75px;
    border-radius: 5px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    text-align: center;

  }
  &__acc{
    display: block;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color:black;

  }
  &__thisPage{
    margin:0 5px;
    font-weight: 300;
    color: rgb(142, 142, 147);
  }
}
