@import './Variables.scss';

$buttonContinue: #22c5d4;
$buttonContinueFocus: #148791;
$mainWidth:1160px;

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.ChallengeWeeks{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  h1{
    font-size: 58px;
    text-align: center;
  }
  margin-top: 0;
  h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h3{
    font-size: 34px;
    font-weight: 600;
  }
  h5{
    margin-top: 0;
    max-width: 710px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: left;
    display: block;
    color: #636366;
    line-height: 1.7;

  }
  a{
    margin-top: 0;
    max-width: 710px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: left;
    color: #636366;
    line-height: 1.7;
    width: 100%;
    margin-bottom: 27.55px;
  }
  span{
    font-size: 15px;
    color: rgb(142, 142, 147);
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
  }
  &__Single{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 720px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &--button {
        border: 0;
        padding: 10px;
        border-radius: 3px;
        background: $buttonContinue;
        margin-bottom: 5px;
        color: white;
        box-sizing: border-box;
        transition: all .3s ease;
        max-width: 110px;
        height: 46px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        @media screen and ($md) {
          margin-right: 5px;
        }
        &:hover, &:focus {
          background: $buttonContinueFocus;
        }
    }
    h1{
        text-align: left;
        font-size: 26px;
        margin-top: 0;
        font-weight: 600;
        @media screen and (min-width: 600px) {
          font-size: 32px;
        }
      }
    span{
        display: none;
        max-width: 350px;
        text-align: left;
        color: rgb(99, 99, 102);
        font-size: 16px;
        @media screen and (min-width: 600px) {
          display: block;
        }
          
    }
    @media screen and (min-width: 800px) {
      width:720px;
      height: 260px;
    }
  }
}
