.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.ChallengeWeeks {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  margin-top: 0; }
  .ChallengeWeeks h1 {
    font-size: 58px;
    text-align: center; }
  .ChallengeWeeks h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px; }
  .ChallengeWeeks h3 {
    font-size: 34px;
    font-weight: 600; }
  .ChallengeWeeks h5 {
    margin-top: 0;
    max-width: 710px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: left;
    display: block;
    color: #636366;
    line-height: 1.7; }
  .ChallengeWeeks a {
    margin-top: 0;
    max-width: 710px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: left;
    color: #636366;
    line-height: 1.7;
    width: 100%;
    margin-bottom: 27.55px; }
  .ChallengeWeeks span {
    font-size: 15px;
    color: #8e8e93;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px; }
  .ChallengeWeeks__Single {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 720px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    padding-left: 40px;
    margin-bottom: 20px; }
    .ChallengeWeeks__Single:last-child {
      margin-bottom: 0; }
    .ChallengeWeeks__Single--button {
      border: 0;
      padding: 10px;
      border-radius: 3px;
      background: #22c5d4;
      margin-bottom: 5px;
      color: white;
      box-sizing: border-box;
      transition: all .3s ease;
      max-width: 110px;
      height: 46px;
      width: 100%;
      cursor: pointer;
      text-align: center; }
      @media screen and (min-width: 640px) {
        .ChallengeWeeks__Single--button {
          margin-right: 5px; } }
      .ChallengeWeeks__Single--button:hover, .ChallengeWeeks__Single--button:focus {
        background: #148791; }
    .ChallengeWeeks__Single h1 {
      text-align: left;
      font-size: 26px;
      margin-top: 0;
      font-weight: 600; }
      @media screen and (min-width: 600px) {
        .ChallengeWeeks__Single h1 {
          font-size: 32px; } }
    .ChallengeWeeks__Single span {
      display: none;
      max-width: 350px;
      text-align: left;
      color: #636366;
      font-size: 16px; }
      @media screen and (min-width: 600px) {
        .ChallengeWeeks__Single span {
          display: block; } }
    @media screen and (min-width: 800px) {
      .ChallengeWeeks__Single {
        width: 720px;
        height: 260px; } }
