@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.font{
  letter-spacing: 1px;
   font-family: "Source Sans Pro";
}
.errorMessage{
  color: red;
  max-width: 330px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
