@import './Variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

$profilePicSize: 95px;
$profilePicRadius: $profilePicSize / 2;
$barHeight: 6px;
$barRadius: $barHeight / 2;

.Diet {
  /*background: $lightGreyBg;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;

  &__profilePic {
    width: $profilePicSize;
    height: $profilePicSize;
    border-radius: $profilePicRadius;
    overflow: hidden;
    margin: 0 0 20px 0;
  }

  &__intro {
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
    color: $textGrey;
    letter-spacing: 3px;
    text-align: center;
    @media screen and ( $md ) {
      font-size: 24px;
    }
  }

  &__heading {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 100px;
      margin-bottom: 0;
    }
  }

  &__progress {
    background: $purpleBg;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 0 40px 0;

    &--heading, &--percentage {
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px;
    }

    &--percentage {
      margin-bottom: 10px;
    }

    &--bar {
      width: 100%;
      height: $barHeight;
      border-radius: $barRadius;
      overflow: hidden;
      &-percentage {
        height: $barHeight;
        border-radius: $barRadius;
        width: 60%;
        &-animation {
          height: $barHeight;
          width: 0%;
          border-radius: $barRadius;
          background: white;
          animation-name: barAnimation;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;

    @media screen and ( $md ) {
      flex-direction: row;
      height: 200px;
      width: 430px;
      align-items: center;
      justify-content: space-between;
    }

    &--single {
      padding: 20px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;

      img {
        margin-bottom: 20px;
      }

      span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
      }

      &.red {
        background: $mainRed;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 10px 0 0;
        }
        &:hover, &:focus {
          background: $mainRedHover;
        }
      }
      &.blue {
        background: $mainBlue;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 10px;
        }
        &:hover, &:focus {
          background: $mainBlueHover;
        }
      }
      &.turquoise {
        background: $mainTurquoise;
        @media screen and ( $md ) {
          margin: 0 0 0 10px;
        }
        &:hover, &:focus {
          background: $mainTurquoiseHover;
        }
      }
      &.locked{
        background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(209,209,214) 0%, rgb(142,142,147) 100%);
        background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(209,209,214) 0%, rgb(142,142,147) 100%);
        background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(209,209,214) 0%, rgb(142,142,147) 100%);
        opacity: 0.602;
        @media screen and ( $md ) {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

@keyframes barAnimation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
