.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.Diet {
  /*background: $lightGreyBg;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .Diet__profilePic {
    width: 95px;
    height: 95px;
    border-radius: 47.5px;
    overflow: hidden;
    margin: 0 0 20px 0; }
  .Diet__intro {
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 20px;
    color: #8e8e93;
    letter-spacing: 3px;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .Diet__intro {
        font-size: 24px; } }
  .Diet__heading {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .Diet__heading {
        font-size: 100px;
        margin-bottom: 0; } }
  .Diet__progress {
    background: #9b66ff;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 0 40px 0; }
    .Diet__progress--heading, .Diet__progress--percentage {
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px; }
    .Diet__progress--percentage {
      margin-bottom: 10px; }
    .Diet__progress--bar {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      overflow: hidden; }
      .Diet__progress--bar-percentage {
        height: 6px;
        border-radius: 3px;
        width: 60%; }
        .Diet__progress--bar-percentage-animation {
          height: 6px;
          width: 0%;
          border-radius: 3px;
          background: white;
          animation-name: barAnimation;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
  .Diet__boxes {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 640px) {
      .Diet__boxes {
        flex-direction: row;
        height: 200px;
        width: 430px;
        align-items: center;
        justify-content: space-between; } }
    .Diet__boxes--single {
      padding: 20px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none; }
      .Diet__boxes--single img {
        margin-bottom: 20px; }
      .Diet__boxes--single span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px; }
      .Diet__boxes--single.red {
        background: #fd7373;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.red {
            margin: 0 10px 0 0; } }
        .Diet__boxes--single.red:hover, .Diet__boxes--single.red:focus {
          background: #db4f4f; }
      .Diet__boxes--single.blue {
        background: #6680ff;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.blue {
            margin: 0 10px; } }
        .Diet__boxes--single.blue:hover, .Diet__boxes--single.blue:focus {
          background: #536acb; }
      .Diet__boxes--single.turquoise {
        background: #22c5d4; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.turquoise {
            margin: 0 0 0 10px; } }
        .Diet__boxes--single.turquoise:hover, .Diet__boxes--single.turquoise:focus {
          background: #1f8c96; }
      .Diet__boxes--single.locked {
        background-image: -moz-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        background-image: -ms-radial-gradient(50% 50%, circle closest-side, #d1d1d6 0%, #8e8e93 100%);
        opacity: 0.602; }
        @media screen and (min-width: 640px) {
          .Diet__boxes--single.locked {
            margin: 0 0 0 10px; } }

@keyframes barAnimation {
  from {
    width: 0%; }
  to {
    width: 100%; } }
