@import 'Variables.scss';

.DashboardGrid {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__left {
    flex: 6.5;
  }
  &__right {
    flex: 3.5;
  }

  &__heading {
    font-size: 60px;
    margin: 0;
    text-align: center;
  }
  &__subheading {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 50px 0;
    text-align: center;
  }
  &__subheadingText{
    //color:#8e8e93;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 50px 0;
    text-align: center;
  }
}
