@import './Variables.scss';

$buttonContinue: #22c5d4;
$buttonContinueFocus: #148791;
$mainWidth:1160px;

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.DayMeals{
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  &__Day{
    border-bottom: 2px solid #eeeef3;
    margin-bottom: 40px; 
    padding-bottom: 20px; 
    width:350px;
    @media screen and (min-width: 600px) {
      width: unset;
    }
  }
  &__Tag{
    height: 24px;
  }
  &__ChallengeWeek{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 260px;
    max-width: 1060px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    padding-left: 40px;
    h1{
      font-size: 30px;
      margin-top: 0;
      font-weight: 600;
      @media screen and (min-width: 600px) {
        font-size: 40px;
      }
    }
    span{
      display: none;
      max-width: 500px;
      text-align: left;
      color: rgb(99, 99, 102);
      font-size: 17px;
      @media screen and (min-width: 600px) {
        display: block;
      }
        
    }
    @media screen and (min-width: 1060px) {
      width: 1060px;
      height: 260px;
    }
  }
  &__Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and ( min-width: 920px ) {
      flex-direction: row;
    }
    &--side{
      order: -1;
      @media screen and ( min-width: 920px ) {
        order: 1;
    }
    }
    &--meal{
      order: 1;
      @media screen and ( min-width: 920px ) {
        order: -1;
    }
    }
  }
  &__SideContent{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    @media screen and ( min-width: 760px) {
      flex-direction: row;
    }
    @media screen and ( min-width: 920px ) {
      flex-direction: column;
    }
    &--Mail{
      margin-bottom: 20px;
      padding:20px;
      border-radius: 8px;
      background-color: rgb(155, 102, 255);
      width:260px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 0;
      @media screen and ( min-width: 660px) {
        margin-right: 20px;
      }
      @media screen and ( min-width: 920px ) {
        margin-right: 0;
      }
      &--button{
        justify-content: center;
        display: flex;
        width:100%;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        border: 0;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        align-items: center;
        height: 40px;
        &:hover, &:focus {
          cursor: pointer;
          background: #efefef;
        }
      }
      &--select{
        justify-content: center;
        display: flex;
        width:100%;
        background-color: rgb(255, 255, 255);
        border: 0;
        line-height: 1.2;
        text-align: center;
        align-items: center;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 7px;
        select{
          border: none;
          width: 95%;
        }
        &.slate{
          background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
          height: 34px;
          width: 240px;
        }
      }
      a{
        font-weight: 550;
        color: rgb(142, 142, 147);
        text-decoration: none;
        font-size: 18px;
      }
      &__img{
        width: 140px;
      }
      &__email{
        display: flex;
        align-items: center;
      }
      span{ 
        font-size: 16px;
        color: rgb(249, 249, 254);
      }
      &__picture{
        width: 32px;
      }
      label{
        color: white;
        font-size: 18px;
        font-weight: 600;
      }
    }
    &--Filter{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;
      background-color: rgb(142, 142, 147);
      width: 260px;
      height: 100px;
      color:white;
      h4{
        margin:0;
      }
    }
  }
  &__SingleMeal{
      height: 150px; 
      display:flex;
      flex-direction: row;
      margin-bottom: 20px;
      align-items: center;
      width: 350px;
      
      margin-left: -10px;
      &--Photo{
        background: no-repeat center;
        display: flex;
        align-items: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 150px;
        min-width: 150px;
        min-height: 150px;
        height: 150px;
        flex:0;
        &:hover, &:focus{
          cursor: pointer;
        }
        @media screen and (min-width: 600px) {
          width: 200px;
          min-width: 200px;
          min-height: 200px;
          height: 200px;
        }
        &--Arrow{
          display: flex;
          align-items: center;
          height:20px;
          &:hover, &:focus{
            cursor: pointer;
          }
        }
      }
      &--Content{
        flex:1;
        margin-left: 15px;
        max-width: 400px;
        &--span{
            display: none;
            width: 300px;
            font-size: 17px;
            color: rgb(142, 142, 147);
            line-height: 1.2;
            text-align: left;
            margin-right: 30px;
            @media screen and (min-width: 600px) {
              display: block;
            }
        }
        h2{
          font-size: 24px;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 5px;
          margin-top: 0;
          &:hover, &:focus{
            text-decoration: underline;
            cursor: pointer;
          }
       }
       
      }
      @media screen and (min-width: 600px) {
        justify-content: unset;
        width: unset;
        height: 200px;
        margin-left: 0;
      }
  }

  &__DayHeading{
      font-size: 38px;
      color: rgb(4, 4, 15);
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 20px;
  }

  &__TimeAndMakes{
      margin-top: 20px;
      margin-bottom: 20px;
      img{
          width:32px;
          height: 32px;
          margin: 10px;
          margin-right: 15px;
      }
      label{
        color: rgb(99, 99, 102); 
      }
      &--Single{
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
            h2{
                font-size: 21px;
                margin: 0;
                font-weight: 700;
                letter-spacing: 0.7px;
            }
      }
  }

  &__ContextWrapper{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
  }
  li{
      display: block;
        color: rgb(99, 99, 102); 
      line-height: 1.7;
  }
  
  &__title {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 45px;
    }
  }
  &__button{
    text-decoration: none;
    flex: 0.95;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    background: $buttonContinue;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    @media screen and ($md) {
      margin-right: 5px;
    }
    &:hover, &:focus {
      background: $buttonContinueFocus;
    }
  }

}
