.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.DayMeals {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .DayMeals__Day {
    border-bottom: 2px solid #eeeef3;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 350px; }
    @media screen and (min-width: 600px) {
      .DayMeals__Day {
        width: unset; } }
  .DayMeals__Tag {
    height: 24px; }
  .DayMeals__ChallengeWeek {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 260px;
    max-width: 1060px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    padding-left: 40px; }
    .DayMeals__ChallengeWeek h1 {
      font-size: 30px;
      margin-top: 0;
      font-weight: 600; }
      @media screen and (min-width: 600px) {
        .DayMeals__ChallengeWeek h1 {
          font-size: 40px; } }
    .DayMeals__ChallengeWeek span {
      display: none;
      max-width: 500px;
      text-align: left;
      color: #636366;
      font-size: 17px; }
      @media screen and (min-width: 600px) {
        .DayMeals__ChallengeWeek span {
          display: block; } }
    @media screen and (min-width: 1060px) {
      .DayMeals__ChallengeWeek {
        width: 1060px;
        height: 260px; } }
  .DayMeals__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 920px) {
      .DayMeals__Wrapper {
        flex-direction: row; } }
    .DayMeals__Wrapper--side {
      order: -1; }
      @media screen and (min-width: 920px) {
        .DayMeals__Wrapper--side {
          order: 1; } }
    .DayMeals__Wrapper--meal {
      order: 1; }
      @media screen and (min-width: 920px) {
        .DayMeals__Wrapper--meal {
          order: -1; } }
  .DayMeals__SideContent {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 760px) {
      .DayMeals__SideContent {
        flex-direction: row; } }
    @media screen and (min-width: 920px) {
      .DayMeals__SideContent {
        flex-direction: column; } }
    .DayMeals__SideContent--Mail {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 8px;
      background-color: #9b66ff;
      width: 260px;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 0; }
      @media screen and (min-width: 660px) {
        .DayMeals__SideContent--Mail {
          margin-right: 20px; } }
      @media screen and (min-width: 920px) {
        .DayMeals__SideContent--Mail {
          margin-right: 0; } }
      .DayMeals__SideContent--Mail--button {
        justify-content: center;
        display: flex;
        width: 100%;
        border-radius: 8px;
        background-color: white;
        border: 0;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        align-items: center;
        height: 40px; }
        .DayMeals__SideContent--Mail--button:hover, .DayMeals__SideContent--Mail--button:focus {
          cursor: pointer;
          background: #efefef; }
      .DayMeals__SideContent--Mail--select {
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: white;
        border: 0;
        line-height: 1.2;
        text-align: center;
        align-items: center;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 7px; }
        .DayMeals__SideContent--Mail--select select {
          border: none;
          width: 95%; }
        .DayMeals__SideContent--Mail--select.slate {
          background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
          height: 34px;
          width: 240px; }
      .DayMeals__SideContent--Mail a {
        font-weight: 550;
        color: #8e8e93;
        text-decoration: none;
        font-size: 18px; }
      .DayMeals__SideContent--Mail__img {
        width: 140px; }
      .DayMeals__SideContent--Mail__email {
        display: flex;
        align-items: center; }
      .DayMeals__SideContent--Mail span {
        font-size: 16px;
        color: #f9f9fe; }
      .DayMeals__SideContent--Mail__picture {
        width: 32px; }
      .DayMeals__SideContent--Mail label {
        color: white;
        font-size: 18px;
        font-weight: 600; }
    .DayMeals__SideContent--Filter {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;
      background-color: #8e8e93;
      width: 260px;
      height: 100px;
      color: white; }
      .DayMeals__SideContent--Filter h4 {
        margin: 0; }
  .DayMeals__SingleMeal {
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    width: 350px;
    margin-left: -10px; }
    .DayMeals__SingleMeal--Photo {
      background: no-repeat center;
      display: flex;
      align-items: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 150px;
      min-width: 150px;
      min-height: 150px;
      height: 150px;
      flex: 0; }
      .DayMeals__SingleMeal--Photo:hover, .DayMeals__SingleMeal--Photo:focus {
        cursor: pointer; }
      @media screen and (min-width: 600px) {
        .DayMeals__SingleMeal--Photo {
          width: 200px;
          min-width: 200px;
          min-height: 200px;
          height: 200px; } }
      .DayMeals__SingleMeal--Photo--Arrow {
        display: flex;
        align-items: center;
        height: 20px; }
        .DayMeals__SingleMeal--Photo--Arrow:hover, .DayMeals__SingleMeal--Photo--Arrow:focus {
          cursor: pointer; }
    .DayMeals__SingleMeal--Content {
      flex: 1;
      margin-left: 15px;
      max-width: 400px; }
      .DayMeals__SingleMeal--Content--span {
        display: none;
        width: 300px;
        font-size: 17px;
        color: #8e8e93;
        line-height: 1.2;
        text-align: left;
        margin-right: 30px; }
        @media screen and (min-width: 600px) {
          .DayMeals__SingleMeal--Content--span {
            display: block; } }
      .DayMeals__SingleMeal--Content h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 5px;
        margin-top: 0; }
        .DayMeals__SingleMeal--Content h2:hover, .DayMeals__SingleMeal--Content h2:focus {
          text-decoration: underline;
          cursor: pointer; }
    @media screen and (min-width: 600px) {
      .DayMeals__SingleMeal {
        justify-content: unset;
        width: unset;
        height: 200px;
        margin-left: 0; } }
  .DayMeals__DayHeading {
    font-size: 38px;
    color: #04040f;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px; }
  .DayMeals__TimeAndMakes {
    margin-top: 20px;
    margin-bottom: 20px; }
    .DayMeals__TimeAndMakes img {
      width: 32px;
      height: 32px;
      margin: 10px;
      margin-right: 15px; }
    .DayMeals__TimeAndMakes label {
      color: #636366; }
    .DayMeals__TimeAndMakes--Single {
      margin-bottom: 20px;
      align-items: center;
      display: flex;
      flex-direction: row; }
      .DayMeals__TimeAndMakes--Single h2 {
        font-size: 21px;
        margin: 0;
        font-weight: 700;
        letter-spacing: 0.7px; }
  .DayMeals__ContextWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
  .DayMeals li {
    display: block;
    color: #636366;
    line-height: 1.7; }
  .DayMeals__title {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .DayMeals__title {
        font-size: 45px; } }
  .DayMeals__button {
    text-decoration: none;
    flex: 0.95;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    background: #22c5d4;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .DayMeals__button {
        margin-right: 5px; } }
    .DayMeals__button:hover, .DayMeals__button:focus {
      background: #148791; }
