.Diagnosis__symptoms {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; }
  .Diagnosis__symptoms label {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: #8e8e93;
    font-style: italic; }

.Issue {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; }
  .Issue__header {
    color: #8e8e93;
    font-style: italic;
    margin: 0 0 10px 0; }
  .Issue__single {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .Issue__input {
    flex-direction: column; }
    .Issue__input label {
      margin-bottom: 10px; }
    .Issue__input input {
      box-sizing: border-box;
      max-width: 100%; }
  .Issue__checkbox {
    color: #313133; }
    .Issue__checkbox:active, .Issue__checkbox:checked {
      background: #22c5d4; }
