.App {
  min-height: 100vh;
  width: 100vw;
  background: none;
  text-align: center; }

.DiagnosisContainer {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto; }

.wrapperStepper {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.sliderClass {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; }

.symptoms {
  margin: 0 auto 20px auto;
  max-width: 450px;
  font-size: 20px;
  color: #8e8e93;
  font-style: italic;
  line-height: 1.6;
  text-align: left; }

.issue {
  margin: -25px auto 20px auto;
  max-width: 450px;
  font-size: 18px;
  color: #313133;
  line-height: 2.7;
  text-align: left; }

.switch {
  margin-top: 10px;
  float: right;
  margin-bottom: 0; }

.issue-header {
  max-width: 450px;
  font-size: 18px;
  color: #8e8e93;
  text-align: left; }

.Field_Shape {
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f0f0f1;
  width: 330px;
  height: 44px;
  margin-bottom: 10px; }

.placeholder {
  color: #313133;
  padding-left: 5%; }

.sliderLabels {
  max-width: 400px !important; }

.severe-symptoms {
  float: right;
  font-size: 14px;
  color: #fd7373;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right; }

.no-symptoms {
  float: left;
  font-size: 14px;
  color: #22c5d4;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right; }

.textFoodMap {
  margin: 0 auto 20px auto;
  max-width: 450px;
  font-size: 14px;
  color: #6a6c75;
  line-height: 1.2;
  text-align: left; }
  @media screen and (min-width: 640px) {
    .textFoodMap {
      font-size: 18px; } }
