@import './Variables.scss';

.Diagnosis {
  &__symptoms {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    label {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      color: $textGrey;
      font-style: italic;
    }
  }
}

.Issue {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  &__header {
    color: $textGrey;
    font-style: italic;
    margin: 0 0 10px 0;
  }
  &__single {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input {
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    input {
      box-sizing: border-box;
      max-width: 100%;
    }
  }
  &__checkbox{
    color: #313133;

    &:active,&:checked{
      background: rgb(34, 197, 212);
    }
  }
}
