@import './Variables.scss';
.App {
  min-height: 100vh;
  width: 100vw;
  background: none;
  text-align: center;
}

.DiagnosisContainer {
  // padding: 0 0 75px 0;
  box-sizing: border-box;
  // max-width: $mainWidth;
  width: 100%;
  margin: 0 auto;
}

.wrapperStepper{
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.sliderClass{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.symptoms {
  margin: 0 auto 20px auto;
  max-width: 450px;
  font-size: 20px;
  color: rgb(142, 142, 147);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}
.issue {
  margin: -25px auto 20px auto;
  max-width: 450px;
  font-size: 18px;
  color: rgb(49, 49, 51);
  line-height: 2.7;
  text-align: left;
}
.switch{
  margin-top: 10px;
  float: right;
  margin-bottom: 0;
}
.issue-header{
  max-width: 450px;
  font-size: 18px;
  color: rgb(142, 142, 147);
  text-align: left;

}

.Field_Shape {
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(240, 240, 241);
  width: 330px;
  height: 44px;
  margin-bottom: 10px;
}
.placeholder{
    color: rgb(49, 49, 51);
    padding-left: 5%;
}
.sliderLabels{
  max-width: 400px !important;
}
.severe-symptoms{
  float:right;
  font-size: 14px;
  color: rgb(253, 115, 115);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
}
.no-symptoms {
  float:left;
  font-size: 14px;
  color: rgb(34, 197, 212);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
}
.textFoodMap{
  margin: 0 auto 20px auto;
  max-width: 450px;
  font-size: 14px;
  color: rgb(106, 108, 117);
  line-height: 1.2;
  text-align: left;
  @media screen and ( $md ) {
    font-size: 18px;
  }
}
