.DietTriggers {
  background: white;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .DietTriggers__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }

.TriggerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .TriggerRow__content {
    max-width: 400px;
    width: 100%; }
    .TriggerRow__content h4 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 400; }
    .TriggerRow__content span {
      display: block;
      color: #8e8e93;
      font-weight: 300;
      font-size: 20px; }
