@import './Variables.scss';

// .Main {
//   display: flex;
//   flex-direction: column;
//   min-height: calc( 100vh - 75px );
//   width: 100vw;
// }

$profilePicSize: 95px;
$profilePicRadius: $profilePicSize / 2;
$barHeight: 6px;
$barRadius: $barHeight / 2;

.DietTriggers {
  background: white;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;
  &__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

.TriggerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__content {
    // flex: 5;
    max-width: 400px;
    width: 100%;

    h4 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 400;
    }

    span {
      display: block;
      color: $textGrey;
      font-weight: 300;
      font-size: 20px;
    }
  }

  &__switch {
    // flex: 1;
  }
}
