.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.EmailPreferences {
  background: #F9F9FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .EmailPreferences__Success {
    height: 30px;
    background-color: #6680ff;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .EmailPreferences__Success--text {
      margin-right: 5px; }
    .EmailPreferences__Success--button {
      background-color: #6680ff;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .EmailPreferences__Success--button:hover {
        cursor: pointer; }
  .EmailPreferences__Failure {
    height: 30px;
    background-color: #fd7373;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .EmailPreferences__Failure--text {
      margin-right: 5px; }
    .EmailPreferences__Failure--button {
      background-color: #fd7373;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .EmailPreferences__Failure--button:hover {
        cursor: pointer; }
  .EmailPreferences__title {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin-bottom: 30px; }
  .EmailPreferences__heading {
    font-size: 40px;
    margin: 30px 0 10px 0;
    padding: 0;
    font-weight: bold;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .EmailPreferences__heading {
        font-size: 60px; } }
  .EmailPreferences__input {
    display: flex;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f1;
    width: 330px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #313133;
    line-height: 1.2;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .EmailPreferences__input {
        width: 400px; } }
  .EmailPreferences__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    border: none;
    font-weight: 300;
    border-radius: 8px;
    background-color: #22c5d4;
    width: 200px;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; }
    .EmailPreferences__button:hover, .EmailPreferences__button:focus {
      background: #1f8c96;
      cursor: pointer; }
  .EmailPreferences__single {
    max-width: 450px;
    color: #313133;
    text-align: left;
    margin-bottom: 10px; }
  .EmailPreferences__switch {
    margin-top: -25px;
    margin-bottom: 0;
    float: right; }
  .EmailPreferences__switch-header {
    max-width: 450px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0; }
  .EmailPreferences__switch-exp {
    max-width: 450px;
    font-size: 18px;
    color: #8e8e93;
    text-align: left;
    margin-top: 0; }
