li {
  padding-right: 10px;
  display: inline-block;
  margin: 0; }

ul {
  padding: unset;
  margin: 0; }

.navFooter {
  flex: 1 1; }

.footer {
  background-color: #efeff4;
  width: 100%;
  height: 75px; }

.wrapper {
  align-items: center;
  display: flex;
  max-width: 1160px;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px; }

.picture {
  max-width: 70px;
  max-height: 42px; }

.social {
  max-width: 20px;
  max-height: 20px; }
