li {
  padding-right: 10px;
  display: inline-block;
  margin: 0; }

ul {
  padding: unset;
  margin: 0; }

.main-footer {
  margin-top: -10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 24px;
  position: relative;
  width: 100%; }

.Footer-li {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
  @media screen and (min-width: 900px) {
    .Footer-li {
      color: #8e8e93;
      text-shadow: none; } }
