.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.GeneralInfo {
  background: #F9F9FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .GeneralInfo__Success {
    height: 30px;
    background-color: #6680ff;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .GeneralInfo__Success--text {
      margin-right: 5px; }
    .GeneralInfo__Success--button {
      background-color: #6680ff;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .GeneralInfo__Success--button:hover {
        cursor: pointer; }
  .GeneralInfo__Failure {
    height: 30px;
    background-color: #fd7373;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .GeneralInfo__Failure--text {
      margin-right: 5px; }
    .GeneralInfo__Failure--button {
      background-color: #fd7373;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .GeneralInfo__Failure--button:hover {
        cursor: pointer; }
  .GeneralInfo__title {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin-bottom: 20px; }
  .GeneralInfo__heading {
    font-size: 45px;
    margin: 30px 0 15px 0;
    padding: 0;
    font-weight: bold;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .GeneralInfo__heading {
        font-size: 60px; } }
  .GeneralInfo__gender {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px; }
  .GeneralInfo label {
    color: #8e8e93;
    font-size: 20px; }
  .GeneralInfo__checkbox {
    color: #313133; }
    .GeneralInfo__checkbox:active, .GeneralInfo__checkbox:checked {
      background: #22c5d4; }
  .GeneralInfo__input {
    display: flex;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f1;
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #313133;
    line-height: 1.2;
    text-align: center; }
  .GeneralInfo__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    border: none;
    font-weight: 300;
    border-radius: 8px;
    background-color: #22c5d4;
    width: 200px;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; }
    .GeneralInfo__button:hover, .GeneralInfo__button:focus {
      background: #1f8c96;
      cursor: pointer; }
