@import './Variables.scss';
     
.dashboard{
  margin-left:0 !important;
}
.Header{
  left: 180px;
  top: 0px;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgb(229, 229, 234);
  &__logo{
    display: none;
    @media screen and ( min-width:470px ) {
      display: block;
    }
  }
  &__container {
    width: 100%;
    max-width: 1160px;
    display: flex;
    padding: 10px 10px;
    flex-direction: row;
    max-height: 100%;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    @media screen and ( min-width:470px ) {
      justify-content: space-between;
    }
    &--nav {
      display: flex;
      padding: 0;
      height: 100%;
      margin: 0;
      margin-right: 15px;
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        li {    
          display: flex;
          flex-direction: column;
          display: inline-block;
          text-decoration: none;
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          margin-left: 15px;
          @media screen and ( min-width:470px ) {
            margin-left: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          a {
            height: 100%;
            font-size: 13px;
            color: rgb(199, 199, 204);
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            img {
              height: 22px;
            }
            label{
              display:block;
              @media screen and ( $md ) {
                font-size: 20px;
                  display: block;
              }
              &:hover, &:focus {
                cursor: pointer;
                color: black;
              }
            }
            &:hover, &:focus {
              color: black;
            }
          }
          &:hover, &:focus {
            border-bottom: 1.5px solid  rgba(49, 49, 51, 0.502);
            color: black;
          }
        }
      }
      @media screen and ( min-width:470px ) {
        margin-right: 0;
      }
    }

    &--profile {
      text-align: center;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      a {
        height: 100%;
        font-size: 13px;
        color: rgb(199, 199, 204);
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
          display:block;
          @media screen and ( $md ) {
            font-size: 20px;
              display: block;
          }
          &:hover, &:focus {
            cursor: pointer;
            color: black;
          }
        }
      }
    }
    &--name {
      padding: 0;
      line-height: 75px;
      font-size: 20px;
      color: black;
      margin-right: 10px;
      display: none;
      text-decoration: none;

      @media screen and ( $md ) {
        display: block;
      }
      &:hover, &:focus {
        border-bottom: 1.5px solid  black;
      }
    }
    &--userPicture {
      width: 28px;
    }
  }
}
svg{
  fill: rgb(199, 199, 204);
}