.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: url("../photos/background1.png") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (min-width: 700px) {
    .loginDiv {
      background: url("../photos/background1.png") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

.wrap {
  height: 100%; }

body {
  height: 100%; }

.belowForm label {
  padding-right: 5px;
  font-size: 15px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
  @media screen and (min-width: 700px) {
    .belowForm label {
      color: #8e8e93;
      text-shadow: none; } }

.login {
  padding-bottom: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 15px auto; }

.photo {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.placeholders {
  font-size: 20px;
  color: #313133;
  line-height: 1.2;
  text-align: center; }

.title {
  font-size: 34px;
  color: #04040f;
  font-weight: bolder;
  line-height: 1.2;
  text-align: center; }

.text {
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  line-height: 1.2;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .text {
      color: #8e8e93;
      text-shadow: none; } }

.signInSocialMedia {
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase;
  line-height: 1.2; }
  @media screen and (min-width: 700px) {
    .signInSocialMedia {
      color: #8e8e93;
      text-shadow: none; } }

.signInEmail {
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: none; }
  @media screen and (min-width: 700px) {
    .signInEmail {
      color: #8e8e93;
      text-shadow: none; } }

.Email_address {
  font-size: 16px;
  color: #c7c7cc;
  line-height: 1.2;
  text-align: center; }

.Field_Shape {
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f0f0f1;
  width: 330px;
  height: 44px;
  margin-bottom: 10px; }

.input {
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  border-radius: 17px;
  border: none;
  background-color: #efebe9;
  padding: 1em 3em;
  text-transform: uppercase;
  margin-top: 10px;
  outline-width: 0; }

.signIn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #22c5d4;
  width: 330px;
  height: 44px;
  margin-bottom: 25px; }


.google {
  font-size: 12px;
  line-height: 1.2;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #fd7373;
  width: 162.5px;
  margin-left: 2.5px;
  height: 44px;
  margin-bottom: 15px; }

.google label{
  vertical-align: middle; }

.google img{
  padding-right: 10px;
  width: 17px;
  height: 17px;
  vertical-align: middle; }

.signUp {
  margin-bottom: 10px;
  font-size: 16px;
  outline-width: 0;
  border: none;
  font-weight: bold;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: transparent;
  cursor: pointer; }
  @media screen and (min-width: 700px) {
    .signUp {
      color: #8e8e93;
      text-shadow: none; } }

.pointer {
  cursor: pointer; }
