@import './Variables.scss';

$buttonContinue: #22c5d4;
$buttonContinueFocus: #148791;
$mainWidth:1160px;

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.Meal{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  box-sizing: border-box;
  @media screen and ( min-width:850px ) {
    width: fit-content;
  }
  &__IngredientsAndDirections{
      width: $mainWidth/2;
      &--title{
          font-weight: 900;
          margin-bottom: 0;

      }
  }

  &__Photo{
    max-width: 800px;
    img{
      width: 100%;  
    }
  }
  &__TimeAndMakes{
      margin-top: 20px;
      margin-bottom: 20px;
      img{
          width:32px;
          height: 32px;
          margin: 10px;
          margin-right: 15px;
      }
      label{
        color: rgb(99, 99, 102); 
      }
      &--Single{
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
            h2{
                font-size: 21px;
                margin: 0;
                font-weight: 700;
                letter-spacing: 0.7px;
            }
      }
  }

  &__ContextWrapper{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
  }
 span {
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: $textGrey;
    letter-spacing: 1px;
    max-width: 600px;
    margin-bottom: 20px;
  }
  li{
      display: block;
        color: rgb(99, 99, 102); 
      line-height: 1.7;
  }
  
  &__title {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 45px;
    }
  }
  &__button{
    text-decoration: none;
    flex: 0.95;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    background: $buttonContinue;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    @media screen and ($md) {
      margin-right: 5px;
    }
    &:hover, &:focus {
      background: $buttonContinueFocus;
    }
  }

}
