.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.Meal {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  box-sizing: border-box; }
  @media screen and (min-width: 850px) {
    .Meal {
      width: fit-content; } }
  .Meal__IngredientsAndDirections {
    width: 580px; }
    .Meal__IngredientsAndDirections--title {
      font-weight: 900;
      margin-bottom: 0; }
  .Meal__Photo {
    max-width: 800px; }
    .Meal__Photo img {
      width: 100%; }
  .Meal__TimeAndMakes {
    margin-top: 20px;
    margin-bottom: 20px; }
    .Meal__TimeAndMakes img {
      width: 32px;
      height: 32px;
      margin: 10px;
      margin-right: 15px; }
    .Meal__TimeAndMakes label {
      color: #636366; }
    .Meal__TimeAndMakes--Single {
      margin-bottom: 20px;
      align-items: center;
      display: flex;
      flex-direction: row; }
      .Meal__TimeAndMakes--Single h2 {
        font-size: 21px;
        margin: 0;
        font-weight: 700;
        letter-spacing: 0.7px; }
  .Meal__ContextWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
  .Meal span {
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #8e8e93;
    letter-spacing: 1px;
    max-width: 600px;
    margin-bottom: 20px; }
  .Meal li {
    display: block;
    color: #636366;
    line-height: 1.7; }
  .Meal__title {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .Meal__title {
        font-size: 45px; } }
  .Meal__button {
    text-decoration: none;
    flex: 0.95;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    background: #22c5d4;
    margin-bottom: 5px;
    color: white;
    box-sizing: border-box;
    transition: all .3s ease;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .Meal__button {
        margin-right: 5px; } }
    .Meal__button:hover, .Meal__button:focus {
      background: #148791; }
