@import './Variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

$profilePicSize: 120px;
$profilePicRadius: $profilePicSize / 2;



.backgroundFood{
  min-height: 120px;
  background: url("../photos/foodWallpaper.png") no-repeat top ;
  @media screen and ( $md ) {
    min-height:322px;
  }
}

.onboardingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;



  &__profilePic {
    width: $profilePicSize;
    height: $profilePicSize;
    border-radius: $profilePicRadius;
    overflow: hidden;
    margin: -90px 0 20px 0;
  }

  &__intro {
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    @media screen and ( $md ) {
      font-size: 36px;
    }
  }
  &__text{
    font-weight: 100;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: $textGrey;
    @media screen and ( $md ) {
      max-width: 520px;
    }
  }
  &__letsstart{
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #313133;
    margin-bottom: 20px;
    @media screen and ( $md ) {
      max-width: 300px;
    }

  }
  &__turquoisebutton {
      padding: 20px;
      height: 60px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;
      background: $mainTurquoise;
      @media screen and ( $md ) {
        margin: 0 0 0 10px;
      }
      span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
      }
        &:hover, &:focus {
          background: $mainTurquoiseHover;
        }


  }
}/*
    &.turquoise {
      background: $mainTurquoise;
      @media screen and ( $md ) {
        margin: 0 0 0 10px;
      }
      &:hover, &:focus {
        background: $mainTurquoiseHover;
      }
    }*/
