.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.backgroundFood {
  min-height: 120px;
  background: url("../photos/foodWallpaper.png") no-repeat top; }
  @media screen and (min-width: 640px) {
    .backgroundFood {
      min-height: 322px; } }

.onboardingProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .onboardingProfile__profilePic {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    margin: -90px 0 20px 0; }
  .onboardingProfile__intro {
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center; }
    @media screen and (min-width: 640px) {
      .onboardingProfile__intro {
        font-size: 36px; } }
  .onboardingProfile__text {
    font-weight: 100;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #8e8e93; }
    @media screen and (min-width: 640px) {
      .onboardingProfile__text {
        max-width: 520px; } }
  .onboardingProfile__letsstart {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #313133;
    margin-bottom: 20px; }
    @media screen and (min-width: 640px) {
      .onboardingProfile__letsstart {
        max-width: 300px; } }
  .onboardingProfile__turquoisebutton {
    padding: 20px;
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: all .3s ease;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    background: #22c5d4; }
    @media screen and (min-width: 640px) {
      .onboardingProfile__turquoisebutton {
        margin: 0 0 0 10px; } }
    .onboardingProfile__turquoisebutton span {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2px; }
    .onboardingProfile__turquoisebutton:hover, .onboardingProfile__turquoisebutton:focus {
      background: #1f8c96; }

/*
    &.turquoise {
      background: $mainTurquoise;
      @media screen and ( $md ) {
        margin: 0 0 0 10px;
      }
      &:hover, &:focus {
        background: $mainTurquoiseHover;
      }
    }*/
