.registerDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: url("../photos/background1.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media screen and ( min-width:700px) {
    background: url("../photos/background1.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.belowForm label{
  padding-right: 5px;
  font-size: 15px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @media screen and ( min-width:700px) {
    color: rgb(142, 142, 147);
    text-shadow: none;
  }
}
.register{
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 15px auto;
}
.photo{
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.placeholders {
  font-size: 20px;
  color: rgb(49, 49, 51);
  line-height: 1.2;
  text-align: center;
}

.title{
  font-size: 34px;
  color: rgb(4, 4, 15);
  font-weight:bolder;
  line-height: 1.2;
  text-align: center;
}
.text{
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @media screen and ( min-width:700px) {
    color: rgb(142, 142, 147);
    text-shadow: none;
  }
  line-height: 1.2;
  text-align: center;
}
.signInSocialMedia{
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @media screen and ( min-width:700px) {
    color: rgb(142, 142, 147);
    text-shadow: none;
  }
  text-transform: uppercase;
  line-height: 1.2;
}
.signInEmail {
  font-size: 16px;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @media screen and ( min-width:700px) {
    color: rgb(142, 142, 147);
    text-shadow: none;
  }
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: none;
}
.Email_address {
  font-size: 16px;
  color: rgb(199, 199, 204);
  line-height: 1.2;
  text-align: center;
}
.Field_Shape {
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: rgb(240, 240, 241);
  width: 330px;
  height: 44px;
  margin-bottom: 10px;
}



.input{
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  border-radius: 17px;
  border: none;
  background-color: #efebe9;
  padding: 1em 3em;
  text-transform: uppercase;
  margin-top: 10px;
  outline-width: 0;
}

.signIn{
  -webkit-appearance: none ;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(34, 197, 212);
  width: 330px;
  height: 44px;
  margin-bottom: 25px;
}
.firstLastName{
  display: inline;
  border-radius: 6px;
  width: 162.5px;

  height: 44px;
  outline: none;
  border: none;
  font-size: 16px;
  background-color: rgb(240, 240, 241);
  margin-bottom: 10px;
}
.inline{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}
.signUp{
  margin-bottom: 10px;
  font-size: 16px;
  outline-width: 0;
  border: none;
  font-weight: bold;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  @media screen and ( min-width:700px) {
    color: rgb(142, 142, 147);
    text-shadow: none;
  }
  background-color: transparent;
  cursor: pointer;
}

.google{
  font-size: 12px;
  line-height: 1.2;
  color: white;
  border: none;
  border-radius: 4px;
  background-color:  rgb(253, 115, 115);
  width: 162.5px;
  margin-left: 2.5px;
  height: 44px;
  margin-bottom: 15px;
}
.pointer{
  cursor: pointer;
}
