.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.SettingsDashboard {
  background: #F9F9FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .SettingsDashboard__profilePic {
    width: 95px;
    height: 95px;
    border-radius: 47.5px;
    overflow: hidden;
    margin: 0 0 10px 0; }
  .SettingsDashboard__name {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #8e8e93;
    letter-spacing: 2px;
    text-align: center; }
  .SettingsDashboard__heading {
    font-size: 45px;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .SettingsDashboard__heading {
        font-size: 100px; } }
  .SettingsDashboard__boxes--single {
    padding: 20px;
    height: 70px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: all .3s ease;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none; }
    .SettingsDashboard__boxes--single.grey {
      background: #ECECEC;
      margin-bottom: 10px; }
      @media screen and (min-width: 640px) {
        .SettingsDashboard__boxes--single.grey {
          margin: 0 0 10px 0; } }
      .SettingsDashboard__boxes--single.grey:hover, .SettingsDashboard__boxes--single.grey:focus {
        background: #D7D7D7; }
    @media screen and (min-width: 640px) {
      .SettingsDashboard__boxes--single {
        width: 350px; } }
  .SettingsDashboard__boxes--title {
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px; }
  .SettingsDashboard__boxes--subtitle {
    font-size: 16px;
    color: #8e8e93;
    font-weight: 300;
    letter-spacing: 0.5px; }
  .SettingsDashboard__logout {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #fd7373;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    text-decoration: none; }
    .SettingsDashboard__logout:hover, .SettingsDashboard__logout:focus {
      text-decoration: underline; }
