@import './Variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

$profilePicSize: 95px;
$profilePicRadius: $profilePicSize / 2;
$barHeight: 6px;
$barRadius: $barHeight / 2;

.SettingsDashboard {
  background: $lightGreyBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;

  &__profilePic {
    width: $profilePicSize;
    height: $profilePicSize;
    border-radius: $profilePicRadius;
    overflow: hidden;
    margin: 0 0 10px 0;
  }

  &__name {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: $textGrey;
    letter-spacing: 2px;
    text-align: center;
  }

  &__heading {
    font-size: 45px;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 100px;
    }
  }



  &__boxes {

    &--single {
      padding: 20px;
      height: 70px;
      width: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;

      &.grey {
        background: $darkGreyBg;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 0 10px 0;
        }
        &:hover, &:focus {
          background: $greyHover;
        }
      }

      @media screen and ( $md ) {
        width: 350px;
      }
    }

    &--title {
      font-size: 18px;
      color: black;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    &--subtitle {
      font-size: 16px;
      color: rgb(142, 142, 147);
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }

  &__logout{
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: $mainRed;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
