.SidebarLinkBox {
  background: #F9F9FE;
  margin: 0 0 10px 0;
  padding: 30px 20px;
  border-radius: 5px; }
  .SidebarLinkBox h3 {
    margin: 0 0 30px 0;
    font-weight: 600; }
  .SidebarLinkBox ul li {
    display: block;
    margin-bottom: 30px; }
    .SidebarLinkBox ul li:last-child {
      margin-bottom: 0; }
  .SidebarLinkBox__link {
    font-weight: 300;
    font-size: 18px; }
    .SidebarLinkBox__link .grey {
      color: #8e8e93;
      transition: all .3s ease; }
      .SidebarLinkBox__link .grey:hover, .SidebarLinkBox__link .grey:focus {
        color: #444; }
    .SidebarLinkBox__link .blue {
      color: #6680ff;
      transition: all .3s ease; }
      .SidebarLinkBox__link .blue:hover, .SidebarLinkBox__link .blue:focus {
        color: #536acb; }
