@import './Variables.scss';
.SidebarLinkBox {
  background: $lightGreyBg;
  margin: 0 0 10px 0;
  padding: 30px 20px;
  border-radius: 5px;

  h3 {
    margin: 0 0 30px 0;
    font-weight: 600;
  }

  ul {
    li {
      display: block;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    font-weight: 300;
    font-size: 18px;

    .grey {
      color: $textGrey;
      transition: all .3s ease;
      &:hover, &:focus {
        color: $textGreyHover;
      }
    }

    .blue {
      color: $mainBlue;
      transition: all .3s ease;
      &:hover, &:focus {
        color: $mainBlueHover;
      }
    }
  }
}
