.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between; }

.Support {
  /*background: $lightGreyBg;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .Support__intro {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #8e8e93;
    letter-spacing: 3px;
    text-align: center; }
  .Support__heading {
    font-size: 50px;
    margin: 0 0 50px 0;
    padding: 0;
    font-weight: bold; }
    @media screen and (min-width: 640px) {
      .Support__heading {
        font-size: 115px; } }
  .Support__boxes {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 640px) {
      .Support__boxes {
        flex-direction: row;
        height: 200px;
        width: 640px;
        align-items: center;
        justify-content: space-between; } }
    .Support__boxes--single {
      padding: 20px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none; }
      .Support__boxes--single img {
        margin-bottom: 20px; }
      .Support__boxes--single span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px; }
      .Support__boxes--single.red {
        background: #fd7373;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Support__boxes--single.red {
            margin: 0 10px; } }
        .Support__boxes--single.red:hover, .Support__boxes--single.red:focus {
          background: #db4f4f; }
      .Support__boxes--single.purple {
        background: #9b66ff;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Support__boxes--single.purple {
            margin: 0 10px; } }
        .Support__boxes--single.purple:hover, .Support__boxes--single.purple:focus {
          background: #673ab7; }
      .Support__boxes--single.blue {
        background: #6680ff;
        margin-bottom: 10px; }
        @media screen and (min-width: 640px) {
          .Support__boxes--single.blue {
            margin: 0 10px; } }
        .Support__boxes--single.blue:hover, .Support__boxes--single.blue:focus {
          background: #536acb; }
