@import './Variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.Support {
  /*background: $lightGreyBg;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Source Sans Pro";
  padding: 20px;
  // max-width: $mainWidth;
  width: 100%;
  box-sizing: border-box;

  &__intro {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: $textGrey;
    letter-spacing: 3px;
    text-align: center;
  }

  &__heading {
    font-size: 50px;
    margin: 0 0 50px 0;
    padding: 0;
    font-weight: bold;
    @media screen and ( $md ) {
      font-size: 115px;
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;

    @media screen and ( $md ) {
      flex-direction: row;
      height: 200px;
      width: 640px;
      align-items: center;
      justify-content: space-between;
    }

    &--single {
      padding: 20px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      transition: all .3s ease;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;

      img {
        margin-bottom: 20px;
      }

      span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
      }

      &.red {
        background: $mainRed;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 10px;
        }
        &:hover, &:focus {
          background: $mainRedHover;
        }
      }
      &.purple {
        background: $purpleBg;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 10px;
        }
        &:hover, &:focus {
          background: $mainPurpleHover;
        }
      }
      &.blue {
        background: $mainBlue;
        margin-bottom: 10px;
        @media screen and ( $md ) {
          margin: 0 10px;
        }
        &:hover, &:focus {
          background: $mainBlueHover;
        }
      }
    }
  }
}
