@import './Variables.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900');

.SymptomSlider {
  background: $lightGreyBg;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 10px auto !important;
  border-radius: 5px;
  font-family: "Source Sans Pro";
  padding: 20px 20px;
  @media screen and ( $md ) {
    padding: 30px 50px;
  }

  &.blue {
    background: $mainBlue;
    color: white;

    .SliderNotch__notch {
      background: $mainBlueHover;
    }

    .SliderBar {
      background: $mainBlueHover;
      &__fill {
        background: #314597;
      }
    }

    .SymptomSlider__container--legend {
      color: white;
    }
  }
  &.red{
    background: #fd7373;
    color: white;

    .SliderNotch__notch {
      background: #ec5d5d;
    }

    .SliderBar {
      background: #ec5d5d;
      &__fill {
        background: #ff1818;
      }
    }

    .SymptomSlider__container--legend {
      color: white;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  &__container {
    width: 100%;
    max-width: 500px;

    &--slider {

      &-notches {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        margin: 20px 0;
      }
    }

    &--legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: $textGrey;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.SliderNotch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20px;
  min-width: 20px;
  @media screen and ( $md ) {
    min-width: 50px;
    max-width: 50px;
  }

  &.small {
    @media screen and ( $md ) {
      min-width: 30px;
      max-width: 30px;
    }
  }
  &__notch {
    height: 20px;
    width: 2px;
    background: $mainGrey;
    display: block;
  }
}

.SliderBar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E0E0E6;
  position: relative;
  &__fill {
    background: $mainBlue;
    height: 100%;
    border-radius: 2px;
    transition: all .3s ease;
  }

  &__handle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: white;
    position: absolute;
    transform: translate( -50%, -50% );
    transition: all .3s ease;
    cursor: grab;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }

    &:active {
      cursor: grabbing;
    }
  }
}
