@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900");
.SymptomSlider {
  background: #F9F9FE;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 10px auto !important;
  border-radius: 5px;
  font-family: "Source Sans Pro";
  padding: 20px 20px; }
  @media screen and (min-width: 640px) {
    .SymptomSlider {
      padding: 30px 50px; } }
  .SymptomSlider.blue {
    background: #6680ff;
    color: white; }
    .SymptomSlider.blue .SliderNotch__notch {
      background: #536acb; }
    .SymptomSlider.blue .SliderBar {
      background: #536acb; }
      .SymptomSlider.blue .SliderBar__fill {
        background: #314597; }
    .SymptomSlider.blue .SymptomSlider__container--legend {
      color: white; }
  .SymptomSlider.red {
    background: #fd7373;
    color: white; }
    .SymptomSlider.red .SliderNotch__notch {
      background: #ec5d5d; }
    .SymptomSlider.red .SliderBar {
      background: #ec5d5d; }
      .SymptomSlider.red .SliderBar__fill {
        background: #ff1818; }
    .SymptomSlider.red .SymptomSlider__container--legend {
      color: white; }
  .SymptomSlider h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center; }
  .SymptomSlider__container {
    width: 100%;
    max-width: 500px; }
    .SymptomSlider__container--slider-notches {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 500px;
      margin: 20px 0; }
    .SymptomSlider__container--legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #8e8e93;
      font-weight: 300;
      font-size: 14px; }

.SliderNotch {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20px;
  min-width: 20px; }
  @media screen and (min-width: 640px) {
    .SliderNotch {
      min-width: 50px;
      max-width: 50px; } }
  @media screen and (min-width: 640px) {
    .SliderNotch.small {
      min-width: 30px;
      max-width: 30px; } }
  .SliderNotch__notch {
    height: 20px;
    width: 2px;
    background: #c7c7cc;
    display: block; }

.SliderBar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E0E0E6;
  position: relative; }
  .SliderBar__fill {
    background: #6680ff;
    height: 100%;
    border-radius: 2px;
    transition: all .3s ease; }
  .SliderBar__handle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    cursor: grab; }
    .SliderBar__handle:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
    .SliderBar__handle:active {
      cursor: grabbing; }
