@import './Variables.scss';

.Symptoms {
  padding: 20px;
  box-sizing: border-box;

  &__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  &__button{
    -webkit-appearance: none ;
    -moz-appearance: none;
    appearance:none;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    border: none;
    font-weight: 300;
    border-radius: 8px;
    background-color: #6680ff;
    width: 200px;
    height:50px;
    margin-bottom: 25px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    &:hover, &:focus {
      background: #90a4f9;
      cursor: pointer;
    }
  } 
}

.OtherSymptoms {
  background: $lightGreyBg;
  padding: 30px 50px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Source Sans Pro";

  h2 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &--checkbox {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border: 1.5px solid $textGrey;
    }

    &--label {
      width: 70px;
      color: $textGrey;
      font-weight: 300;
    }
    
  }
}
