// Colors
$main: #000;
$lightGreyBg: #F9F9FE;
$purpleBg: #9b66ff;
$darkGreyBg: #ECECEC;

$mainRed: #fd7373;
$mainBlue: #6680ff;
$mainTurquoise: #22c5d4;
$mainGrey: #c7c7cc;

$lighterRed: #fcabac;
$lightRed: #fc9b9c;

// Hovers
$mainRedHover: #db4f4f;
$mainBlueHover: #536acb;
$mainTurquoiseHover: #1f8c96;
$mainPurpleHover: #673ab7;
$greyHover: #D7D7D7;

//Text
$textGrey: #8e8e93;
$textGreyHover: #444;
//Dimensions
$mainWidth: 1000px;

//Breakpoints
$md: "min-width: 640px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";
